@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this CSS to your global styles or component-specific styles */
@keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }
  

  .text-sm, .md\:text-base {
    overflow-wrap: break-word; /* Break long words */
    word-wrap: break-word;     /* Fallback for older browsers */
  }

  .ace_editor {
    line-height: 1.5; /* Adjust line height */
  }
  
  .ace_line {
    position: relative; /* Ensures line numbers are not overlapped */
  }
  
  .ace_gutter {
    background-color: #272822; /* Match with editor background */
    color: #f8f8f2; /* Color of the line numbers */
  }
  