@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this CSS to your global styles or component-specific styles */
@keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }
  

  .text-sm, .md\:text-base {
    overflow-wrap: break-word; /* Break long words */
    word-wrap: break-word;     /* Fallback for older browsers */
  }